<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="pokemon.css" />
    <title>Monde Pokémons</title>
</head>

<body>
    <div id="app">
        <header>
            <h1>Monde Pokémons</h1>
        </header>
        <nav>
            <ul>
                <li><a href="pokemon_index.html">Les Pokémons</a></li>
                <li><a href="talent_index.html">Les talents</a></li>
            </ul>
            <ul>
                <li><a href="pokemon_create.html">Créer un Pokémon</a></li>
            </ul>
        </nav>
        <footer>Web 4 Expressif</footer>
        <div class="body">
            <div class="liste">
                <h1>Les Pokémons</h1>
                <table border="1">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Icône</th>
                            <th>Nom français</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td><img src="https://pokestrat.io/images/badges/1.png" alt="Bulbizarre"
                                    style="width:64px; height:64px;"></td>
                            <td><a href="pokemon_show.html">Bulbizarre</a></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td><img src="https://pokestrat.io/images/badges/2.png" alt="Herbizarre"
                                    style="width:64px; height:64px;"></td>
                            <td><a href="pokemon_show.html">Herbizarre</a></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td><img src="https://pokestrat.io/images/badges/3.png" alt="Florizarre"
                                    style="width:64px; height:64px;"></td>
                            <td><a href="pokemon_show.html">Florizarre</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>