<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="pokemon.css" />
    <title>Monde Pokémons</title>
</head>

<body>
    <div id="app">
        <header>
            <h1>Monde Pokémons</h1>
        </header>
        <nav>
            <ul>
                <li><a href="pokemon_index.html">Les Pokémons</a></li>
                <li><a href="talent_index.html">Les talents</a></li>
            </ul>
            <ul>
                <li><a href="talent_index.html">Retour à la liste</a></li>
                <li><a href="talent_show.html">Retour au talent</a></li>
                <li><a href="talent_delete.html">Supprimer le talent</a></li>
            </ul>
        </nav>
        <footer>Web 4 Expressif</footer>
        <div class="body">
            <form action="talent_update.html" method="post">
                <input type="hidden" name="_token" value="jYJPKjxxn9nspIuW2oaDBxPtNihqvUhkkZYKPSxO">
                <table class="talent">
                    <tr>
                        <th>Génération</th>
                        <td><input type="number" name="generation" id="generation" min="1" max="10" required="required"
                                value="3" /></td>
                    </tr>
                    <tr>
                        <th>Nom français</th>
                        <td><input type="text" name="nom_fr" id="nom_fr" required="required" value="Absentéisme" /></td>
                    </tr>
                    <tr>
                        <th>Nom anglais</th>
                        <td><input type="text" name="nom_en" id="nom_en" required="required" value="Truant" /></td>
                    </tr>
                    <tr>
                        <th>Effet combat</th>
                        <td><input type="text" name="effet_combat" id="effet_combat"
                                value="Le Pokémon n&#039;attaque qu&#039;un tour sur deux." /></td>
                    </tr>
                    <tr>
                        <th>Effet terrain</th>
                        <td><input type="text" name="effet_terrain" id="effet_terrain" value="" /></td>
                    </tr>
                    <tr>
                        <th colspan="2">
                            <input type="submit" value="Envoyer">
                        </th>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</body>

</html>